<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.menus"
    android:versionCode="1"
    android:versionName="1.0" >

    <application

        android:label="Project"
        android:theme="@style/AppTheme" 
        android:allowBackup="true">
        <activity
            android:name=".MenusActivity"
            android:label="Project" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecurityActivity"
            android:label="Security" >
        </activity>
        <activity
            android:name=".HealthActivity"
            android:label="Health" >
        </activity>
        <activity
            android:name=".EnergyActivity"
            android:label="Energy" >
        </activity>
    </application>

</manifest>